# Aegis Bridge - Ignore
aegis-bridge/venv/
aegis-bridge/.env
aegis-bridge/google-cloud-sdk/
aegis-bridge/data/
aegis-bridge/*.db
aegis-bridge/*.log
aegis-bridge/__pycache__/
aegis-bridge/google-cloud-cli-linux-x86_64.tar.gz
env/
venv/
.env
google-cloud-sdk/
*.db
*.log
__pycache__/
